
<h2 class="text-center text-danger"> Add new Book</h2>
<br/>
<div>
   
    <form>
        <div class="form-group">
            <input placeholder="Name..." type="text" ng-model="name" class="form-control" id="Name">
        </div>

        <div class="form-group">
            <input placeholder="Age..." type="text" ng-model="age" class="form-control" id="Age">
        </div>

        <div class="form-group">
            <input placeholder="Type..." type="text" ng-model="book_type" class="form-control" id="Type">
        </div>

        <div class="form-group">
            <input placeholder="Author..." type="text" ng-model="author_Name" class="form-control" id="Author">
        </div>

        <div class="form-group">
            <input placeholder="Publication..." type="text" ng-model="publication" class="form-control" id="Publication">
        </div>


        <button ng-click="addBook()"  class="btn btn-default">Submit</button>
    </form>

</div>